<h1>App Component</h1><hr>
Welcome {{title}}

<!--<saiteja></saiteja>
<app-interpolation></app-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-twowaybinding></app-twowaybinding>
<app-pipe></app-pipe>
<app-services></app-services>
<app-calculator></app-calculator>
<app-searchpipe></app-searchpipe>
<app-struct-directives></app-struct-directives>
<app-parent></app-parent>
<app-product></app-product> 
<app-calculatorforms></app-calculatorforms>
<app-parentcomp></app-parentcomp>-->


<!-- <div>
    <app-first></app-first>
    <app-second></app-second>
    </div> -->

    <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark"> -->
        <!-- Brand -->
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      
        <!-- Toggler/collapsibe Button -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      
        <!-- Navbar links -->
        <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
            </li>
          </ul>
        </div>
      </nav> -->
    
    
    
    <!-- <nav>
        <a routerLink='/java' routerLinkActive='active'>Java Technologies</a> | 
        <a routerLink='/web' routerLinkActive='active'>Web Technologies</a>
    </nav> -->
    <!-- <router-outlet></router-outlet> -->

     <!-- <div>
    <app-sibling1></app-sibling1>
    <app-sibling2></app-sibling2>
    </div> -->
    

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Navbar</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>